.nav {
    grid-area: n;
    background-color: rgb(50, 79, 206);
    padding: 20px;
  }

  .item a.active {
    color: gold;
  }

  .item a{
    color: white;
    text-decoration: none;
  }
  
  