.content {
    grid-area: c;
    background-color: cadetblue;
  }
  
  .firstim{
    height: 300px;
    width: 100%;
    
  }
  
  .secondim{
    height: 50px;
    width: 50px;
    padding: 15px;
  }
  
  .descriptionBlock{
    padding: 15px;
  }